@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #131313;
    background: rgb(240,214,187);
    background: radial-gradient(circle, rgba(240,214,187,1) 60%, rgba(204,161,121,1) 100%);
    font-size: 1.2em;
}

/* Headings */

h1 {
    font-family: 'Cinzel', serif;
    font-weight: 500;
}

h2 {
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

.home-link {
    color: black;
    text-decoration: none;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

/* Button Styling */
.btn {
    color: #131313;
    text-decoration: none;
    border: 1px solid #131313;
    padding: 5px;
}

/* make buttons float and have shadow when hover - this code is copied from Ian Lunn - see README for more details */

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    cursor: pointer;
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }

/* Home Page Styling */

#home-head {
    margin-top: 150px;
}

/* Home page: styling for quotation marks */
#quote {
    width: 50%;
    margin: 5px auto;
}

#quote-author {
    text-align: right;
    padding-right: 20px;
    margin-top: 10px;
}

.quote-mark {
    font-size: 3.5em;
    font-family: serif;
}

.quote-start {
    margin-bottom: -30px;
    text-indent: -35px;
}

.end-quote {
    text-align: right;
}

/* Home page: styling for continent images - this code was copied from my previous project (Ancient Languages Society) and changed to fit this project's needs */

#continent-images {
    width: 75vw;
    margin: 0 auto;
}

#continent-images div {
    width: 25%; /* situate the 4 images in 4 coloums */
    float: left;
    box-sizing: border-box;
}

/* sets the images as backgrounds in the divs with the appropriate IDs */

#americas-img {
    background: url('../images/americas.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 250px;
}

#europe-img {
    background: url('../images/europe.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 250px;
}

#africa-img {
    background: url('../images/africa.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 250px;
}

#australasia-img {
    background: url('../images/australasia.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 250px;
}

/* Style the area of the home page below the images which includes the text leading to the start game button */ 

#game-start-button p {
    font-weight: 300;
    font-size: 1.25em;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 325px;
}

/* Styling for Game Pages (both game and game-finished) */

#game-head {
    margin-top: 30px;
    margin-left: 30px;
}

/* Styling for Game Page */

#game-question {
    font-size: 1.2em;
}

#game-continent-images {
    width: 100vw;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
}

#game-continent-images div {
    width: 25%; /* situate the 4 images in 4 coloums */
    float: left;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.game-space {
    width: 60vw;
    margin: 60px auto 0 auto;
}

.answer-options {
    margin-top: 25px;
}

.answer-container {
    width: 45%; /* situate the 4 images in 2 coloums */
    float: left;
    box-sizing: border-box;
    margin: 15px 0;
    padding: 15px;
}

.col-one{
    margin-right: 15px;
}

.answer {
    float: left;
}

.answer-letter {
    margin-right: 10px;
}

.solution-space {
    width: 50vw;
    margin: 60px auto 0 auto;
}

.solution-space p {
    margin-bottom: 10px;
}

#score-label {
    position: absolute;
    top: 40px;
    right: 75px;
}

#hint {
    position: absolute;
    top: 35vh;
    right: 10vw;
    text-align: center;
}

#hint-text {
    font-size: .95em;
}

#next {
    position: absolute;
    top: 35vh;
    right: 10vw;
    text-align: center;
}

#next-question {
    font-size: .95em;
}

/* Styling for progess bar on game page */

#game-progress-icons {
    width: 100vw;
    margin: 0 auto;
    position: absolute;
    bottom: 275px;
}

#game-progress-icons div {
    width: 8.33%; /* situate the 4 images in 4 coloums */
    float: left;
    box-sizing: border-box;
}

#americas-border {
    background: url('../images/border-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 50px;
}

#americas-waters {
    background: url('../images/waters-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 50px;
}

#americas-mountains {
    background: url('../images/mountain-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 50px;
}

#europe-border {
    background: url('../images/border-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 50px;
}

#europe-waters {
    background: url('../images/waters-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 50px;
}

#europe-mountains {
    background: url('../images/mountain-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 50px;
}

#africa-border {
    background: url('../images/border-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 50px;
}

#africa-waters {
    background: url('../images/waters-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 50px;
}

#africa-mountains {
    background: url('../images/mountain-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 50px;
}

#australasia-border {
    background: url('../images/border-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 50px;
}

#australasia-waters {
    background: url('../images/waters-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 50px;
}

#australasia-mountains {
    background: url('../images/mountain-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
    height: 50px;
}

/* Styling for Game Finished Page */
#final-score-heading {
    margin-top: 175px;
}

#final-score-text {
    margin-top: 30px;
    margin-bottom: 150px;
}

/* CSS for Tablets in Portrait */
@media (max-width: 1024px) {

    /* Home Page and Final Score Page */
    #continent-images {
        width: 100vw;
    }

    #americas-img {
        background-size: 130px;
    }
    
    #europe-img {
        background-size: 130px;
    }
    
    #africa-img {
        background-size: 130px;
    }
    
    #australasia-img {
        background-size: 130px;
    }

    /* Home Page Styling */

    #quote {
        width: 70%;
    }

    /* Styling for Game Page */
    .game-space {
        width: 75vw;
        margin: 120px auto 0 auto;
    }

    .solution-space {
        width: 60vw;
        margin: 80px auto 0 auto;
    }

    .solution-space p {
        margin-bottom: 40px;
    }

    #hint {
        top: unset;
        bottom: 350px;
        right: 0;
        left: 0;
    }

    #next {
        top: unset;
        bottom: 350px;
        right: 0;
        left: 0;
    }

    #game-continent-images {
        bottom: 0;
    }

    #game-progress-icons {
        bottom: 200px;
    }

    #game-progress-icons div {
        background-size: 35px;
    }

    /* Styling for Game Finished Page */
    #final-score-heading {
        margin-top: 250px;
}

}

/* CSS for Smart Phones in Portrait */
@media (max-width: 767px) {
    body {
        font-size: .7em;
    }

    /* Home Page */

    #home-head {
        margin-top: 50px;
    }

    .quote-text {
        font-size: 1.15em;
    }

    #continent-images {
        background: url('../images/all-continents-image.png') no-repeat center center; /* inserts the image as the background of a div, rather than placing it in the html */
        height: 150px;
        background-size: 200px;
        margin-top: -30px;
    }

    #continent-images div {
        display: none;
    }

    #game-start-button p {
        font-weight: 300;
        font-size: 1.25em;
        letter-spacing: 1px;
        margin-bottom: 15px;
        margin-top: 3px;
    }

    /* Game Finished and Game Pages */

    #game-head {
        margin: 30px 0 0 0;
        text-align: center;
    }

    /* Game Page */

    .game-space {
        width: 90vw;
        margin: 3vh auto 0 auto;
    }

    .answer-options {
        margin-top: 5px;
    }
    
    .answer-container {
        width: 95%; /* situate the 4 images in 1 coloum */
        margin: 5px 0;
        padding: 5px;
    }
    
    .col-one{
        margin-right: 5px;
    }
    
    .answer {
        float: left;
    }
    
    .answer-letter {
        margin-right: 5px;
    }

    .solution-space {
        width: 90vw;
        margin: 20px auto 0 auto;
    }

    .solution-space p {
        margin-bottom:20px;
    }

    .solution-space h2 {
        text-align: center;
    }

    #score-label {
        position: unset;
        top: unset;
        right: unset;
        text-align: center;
        font-size: 16px;
    }

    #score::before {
        content: "\a";
        white-space: pre;
    }

    #hint {
        position: unset;
        top: unset;
        bottom: unset;
        right: unset;
        left: unset;
        font-size: 16px;
    }

    #next {
        position: unset;
        top: unset;
        bottom: unset;
        right: unset;
        left: unset;
        font-size: 16px;
    }

    #score-hint-box {
        width: 80vw;
        margin: 0 auto;
        position: absolute;
        bottom: 125px;
        left: 0;
        right: 0;
    }
    
    #score-hint-box div {
        width: 50%; /* situate the 4 images in 4 coloums */
        float: left;
        box-sizing: border-box;
        margin-top: 20px;
    }

    #game-progress-icons {
        bottom: 75px;
    }

    #game-progress-icons div {
        background-size: 20px;
    }

    #game-continent-images {
        margin-bottom: 10px;
    }

    #game-continent-images div {
        background-size: 75px;
        height: 75px;
    }
    

    /* Game Finished Page */

    #final-score-heading {
        margin-top: 75px;
    }
    
    #final-score-text {
        margin-top: 30px;
        margin-bottom: 120px;
    }

}