@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #131313;
    background-color: RGB(240, 214, 187);
}

/* Headings */

h1 {
    font-family: 'Cinzel', serif;
    font-weight: 500;
}

h2 {
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

.center {
    text-align: center;
}

/* Button Styling */
.btn {
    color: #131313;
    text-decoration: none;
    border: 1px solid #131313;
    padding: 3px;
}

/* Home Page Styling */

#home-head {
    margin-top: 150px;
}

#quote {
    width: 50%;
    margin: 5px auto;
}

#game-start-button p {
    font-weight: 500;
    margin-bottom: 10px;
}
